html {
  background-image: url(./images/cutepic.jpg);
  background-repeat: no-repeat;
  color: lightblue;
  background-position: top;
  background-size: 85%;
  font-family: 'Roboto', sans-serif;

}

#content{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px;
  height: 95vh;
  width: 100vw;
}

#main-wrapper {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  display: grid;
  font-family: 'Roboto Slab', serif;
  font-size: 20pt;
  grid-column: 3/6;
  grid-row: 3/5;
  border-radius: 10px;
  padding-bottom: 50px;

}

.main-side {
  text-align: left;
  background: #5398A8;
  font-family: 'Roboto Slab', serif;

}

.visible {
  display: block;
}

.hidden {
  display: none;
}

#error-model {
  text-align: center;

}

#model-message{

  text-align: center;
  font-family: 'Roboto Slab', serif;
  color: red;
}


/*------------------ side nav stuff */


.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(255, 255, 255, 0);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
   }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.5);;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .scrolling-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    background-position: right
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    grid-column: 4/8;
    grid-row: 8/8;
  }
  .scrolling-wrapper .card {
      display: inline-block;
  }

  .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .scrolling-wrapper-flexbox .card {
      flex: 0 0 auto;
      margin-right: 3px;
  }

  .card {
    border: 2px solid;
    width: 150px;
    height: 200px;
    background: black;
  }

  .scrolling-wrapper, .scrolling-wrapper-flexbox {
    /* height: 400px; */
    margin-bottom: 20px;
    /* width: 800px; */
    -webkit-overflow-scrolling: touch;
  }
  .scrolling-wrapper {
    grid-column: 1/-1;
  }

  .scrolling-wrapper div {
   display: flex;
   flex-direction: row;


  }

  .scrolling-wrapper div div img {
    width: 150px;
    padding: 5px;
    margin: 5px;

  }

  .scrolling-wrapper div div h2 {
    width: 10px;
    font-size: 14px;
    display: none;

  }
